.desktop-none {
     display: none;
}
 .navbar-toggler-icon {
     width: 25px;
     height: 25px;
}
.navbar-light .navbar-toggler {
    color: #fff;
    border-color: transparent;
    padding: 0;
    border: 0;
    outline: none;
    border: none;
    border-radius: 0px;
    width: auto;
    height: auto;
    margin-left: 11px;
    background: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(../images/bar.svg);
     
}
 @media (min-width: 992px) {
     .container {
         max-width: 1070px;
    }
    ul.real-content.heading-panel > li:nth-child(1) {
    width: 40%;
}

ul.real-content.heading-panel > li:nth-child(2) {
    width: 60%;
}
}
 @media (min-width: 1300px) {
     .container {
         max-width: 1170px;
    }
}

@media screen and (min-width: 768px) {
.mobile-video{
display: none;
}
    .Advantage-Items.BlogItems {
    padding: 50px;
}
}
@media screen and (max-width: 1500px) {
    .heading-pnel p {
        font-size:14px;
    }
    .about-content {
        padding: 44px 50px;
    }
    .presence-box {
        padding: 30px 40px;
    }
    .why-items {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
    }
    .space {
        padding: 70px 0px;
    }
    .experience-section .container > .row {
        min-height:auto;
    }
    .experience-section .heading-pnel {
        max-width: 470px;
    }
}

@media screen and (max-width: 1300px) {
    
 }
@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1080px) {
    
}
@media screen and (max-width: 1024px) {
    
}
@media screen and (min-width: 991px) and (max-width: 1024px) {

}
@media screen and (max-width: 991px) {
    .container {
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
 .ser-tab::-webkit-scrollbar {
    display: none;
}
    .common-arrow .owl-nav{
        display:none !important;
    }
    ul.real-content.heading-panel {
    flex-direction: column;
    overflow: hidden;
    display: block;
}
    .cursor{
display: none;
    }
    .order--1 {
        order: -1;
    }
    .header .container {
    max-width: 100%;
    padding: 0;
}
.header .logo-web {
    padding-left: 20px;
}

.header .right-head {
    padding-right: 20px;
}
    .navbar-light .navbar-nav > li > a {
            margin-left: 0 !important;
    color: #fff;
    display: block;
    text-align: left;
    padding: 8px 0px;
    }
    .schedule-call {
        margin-left: 0 !important;
        margin-top: 6px;
        padding-top: 22px;
        border-top: 1px solid #dddddd30;
    }
    .schedule-call .blue-btn {
    background: #fff;
    color: #0084FF;
}

.schedule-call .blue-btn svg {
    stroke: #0084FF;
}
    #navbarSupportedContent {
        position: absolute;
        left: 0;
        background: #0084ff;
        width: 100%;
        padding: 30px 30px;
        margin-top: 20px;
    }
    nav.navbar.navbar-expand-lg.navbar-light {
        padding:0;
    }
 .hero-left-caption {
    padding: 110px 0 80px;
}
    .banner{
        height: auto;
    }

    .hero-left-caption h1 {
    line-height: 1.5;
    font-size: 35px; 
}
.logo_slider_title {
    margin-bottom: 30px;
}

.choose_image {
    position: relative;
    margin-bottom: 40px;
}
.ApplicationsSection .container {
   max-width: 720px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.space {
    padding: 40px 0px;
}
.SuperchargeStrip, .AdvantageBox{
padding: 30px;
}
.container.p-0.ml-0.mw-100.overflow-hidden {
    max-width: 720px !important;
}
.container.p-0.ml-0.mw-100.overflow-hidden {
    max-width: 720px !important;
    padding-bottom: 50px !important;
}
.BoxSteps{
display: none;
}
.heading-pnel h2{
font-size: 30px;
line-height: 1.5;
}
.about-cont-part {
    text-align: left;
    margin-bottom: 25px;
}
.banner-left-side h1{
    font-size: 34px;
    line-height: 44px;
}
.about-cont-part h2{
    text-align: left;
    font-size: 28px;
}
.happy-client:after {
    max-width: 283px;
    height: 280px;
    right: 0px;
    top: -81px;
}
.happy-client-card h2 {
    font-size: 45px;
    line-height: 60px;
}
#cm-banner {
    height: auto;
    padding: 117px 0px;
}
.banner-left-side p {
    font-size: 12px;
    margin-top: 0px;
}
.Blog-Items-Content h4 {
    font-size: 16px;
    line-height: 22px;
}
#contact-form-section {
    padding: 40px 0px;
}
.contact-form{
        padding: 65px 0px 0px;
    background: none;
}
.contact-text-part h2 {
    font-size: 26px;
}
.happy-client-card span{
    font-size: 45px;
}
}   

 @media screen and (min-width: 820px) and (max-width: 1200px) {

}
 @media screen and (max-width: 767px) {
	 .our-process:after{
		 display:none;
	 }
     .Case-Studies-Box .Advantage-Items { 
    padding: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
     .mobile-none{
         display:none;
     }
     .desktop-none{
         display:block
     }
    .hero-left-caption h1 {
    line-height: 1.2;
    font-size: 30px;
}
.hero-left-caption ul li {
    font-size: 12px;
}
.hero-left-caption p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5; 
}
.hero-left-caption p br{
display: none;
}
    .space {
        padding: 40px 0px;
    }
    .row.real-bg{
    margin: 0;
}
    .container, .ApplicationsSection .container{
        padding-left: 30px;
        padding-right: 30px;
    }

    .blue-btn{
    padding: 5px 15px;
    transition: all 0.8s !important;
    height: 38px;
    background: #0084FF;
    color: #fff;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border: 1px solid #0084FF;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.5px;
    text-align: center;
    max-height: 38px;
    gap: 0px;
    border-radius: 80px;
    }
    .hero_link_btn {
    padding-top: 21px;
    display: flex;
}
.hero-left-caption {
    padding: 110px 0 50px;
}
.bg-video{
display: none;
}
.heading-pnel h2, .heading-pnel.real-caption h2 {
    font-size: 26px;
    line-height: 1.5;
}
.heading-pnel.real-caption p { 
    font-size: 16px;
    line-height: 1.5; 
}
.choose_caption h3 {
    font-size: 18px;
}
.choose_caption ul li p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #F5F7FA;
}
.choose-card ul { 
    justify-content: space-between;
    gap: 5px;
}
.choose-card ul.choose_year {
    justify-content: start;
}
ul.real-content.heading-panel {
    flex-direction: column;
    overflow: hidden;
}
ul.real-content.heading-panel > li {
    width: 100%;
}
.real-content.heading-pnel {
    padding: 24px 24px;
    background: #000;
    border-top-right-radius: 0;
}
.heading-pnel h5{
font-size: 20px;
}
section.space.ValuesSection.pb-0 {
    padding-top: 0;
}
section.space.ValuesSection img.img-fluid {
    max-width: 315px;
} 
.ValuesItems h4{
font-size: 18px;
}
.ValuesItems {
    margin-bottom: 30px;
    padding-left: 15px;
    position: relative;
}
#Real-Slider.owl-carousel .owl-item ul.real-content.heading-panel > li .real-image img{
width: 100% !important;
object-fit: cover;
}
.success_image {
    position: relative;
    min-height: 498px;
}
.SuperchargeContent h3 { 
    font-size: 30px;
    line-height: 1.5; 
}
.SuperchargeStrip .blue-btn.blue_bfr_btn {
    margin-top: 20px;
} 

.ValuesItems:before {
    content: "";
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: solid 5px rgba(0, 255, 153, 1);
    display: block;
    background: #000;
    position: absolute;
    left: 0;
    top: 3px;
}
.ValuesItems {
    margin-bottom: 30px;
    padding-left: 35px;
    position: relative;
}
.ValuesItems:after {
    content: "";
    background: rgba(255, 255, 255, 0.12);
    width: 1px;
    height: calc(100% + 30px);
    position: absolute;
    left: 8px;
    top: 20px;
}
.AdvantageBox {
    padding: 20px;
}
.AdvantageImage{
margin-bottom: 20px;
}
.AdvantageContent h3 { 
    font-size: 18px;
    line-height: 1.5; 
    margin-bottom: 8px;
}
.SuperchargeStrip.Let-get > .row {
    flex-direction: column-reverse;
    gap: 30px;
}
.SuperchargeStrip{
    padding: 20px 15px;
}
.SuperchargeStrip.Let-get .SuperchargeContent h3, 
.SuperchargeStrip.Let-get .SuperchargeContent h6,
.SuperchargeStrip.Let-get .SuperchargeContent p,
.SuperchargeStrip.Let-get .blue-btn.blue_bfr_btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.FooterLinks ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  gap: 5px; /* space between items */ 
  list-style: none;
}
 .MainBoxLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
.success_image_main{
min-height: 498px;
}
.success-detial {
    width: 100%;
    padding: 30px 20px;
}
.success-detial ul {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    padding-top: 16px;
    flex-direction: column;
    gap: 20px;
}
.banner-left-side h1 {
font-size: 26px;
    text-align: left;
    line-height: 34px;
}
.about-cont-part h2 {
    font-size: 22px;
    line-height: 34px;
    text-align: left;
}
.about-cont-part p {
    font-size: 16px;
    text-align: left;
}
.about-cont-part {
    margin-bottom: 20px;
}
.about-vision-part h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.about-vision-part p {
    font-size: 16px;
    margin-bottom: 20px;
}
.happy-client:after {
    max-width: 175px;
    height: 326px;
    right: 0px;
    top: -38px;
    z-index: 1;
}
.happy-client-outer {
    padding-top: 40px;
    padding-bottom: 20px;
}
.happy-client-card h2 {
    font-size: 40px;
    line-height: 60px;
}
.br-right:after {
display: none;
}
.expert-heading h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.expert-heading p {
    font-size: 14px;
}
.expert-heading {
    margin-bottom: 30px;
}
#cm-banner {
height: auto;
    padding: 110px 0px 20px;
}
.banner-left-side p{
    margin-top: 0px;
}
.pagination ul li:first-child a, .pagination ul li:last-child a {
    height: 35px;
    padding: 0px 15px;
}
.pagination ul li a {
    border-radius: 50%;
    width: 33px;
    height: 33px;
}
.banner-right-side .breadcrumb {
    justify-content: start;
    align-items: center;
    padding-left: 0px;
}
.policy-content-main h2 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 10px;
}
.policy-content-main h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
}
.policy-content-main ul{
    padding-left: 18px;
    margin-bottom: 20px;
}
.policy-content-main ul li{
    list-style-position: outside;
}
.policy-content-main h4 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
}
.policy-content-main ol{
    padding-left: 18px;
    margin-bottom: 20px;
}
.policy-content-main ol li{
    list-style-position: outside;
}
#contact-form-section {
    padding: 40px 0px;
}
.contact-text-part {
    margin-top: 0px;
    max-width: 100%;
    margin-bottom: 22px;
}
.contact-form {
    padding: 40px 0px;
    width: 100%;
    max-width: 100%;
    background: none;
}
.contact-form .form-group {
    margin-bottom: 36px;
}
.contact-text-part h2 {
    font-size: 26px;
}
.contact-text-part p {
    font-size: 14px;
}
.map iframe {
    height: auto;
    aspect-ratio: 1/1;
}
.service-content-main h2 {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 10px;
}
.service-content-main {
    padding-bottom: 30px;
}
.service-content-list {
    margin-top: 30px;
    padding-bottom: 30px;
}
.service-list-text h3 {
    font-size: 18px;
}
.service-content-list h4 {
    font-size: 22px;
    margin-bottom: 15px;
}
.Blog-Items .Blog-Items-image img {
    width: 100%;
    max-width: 100%;
}
.happy-client-card span{
    font-size: 40px;
}
ol.breadcrumb li {
    display: contents;
}
ol.breadcrumb{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.banner-right-side li.breadcrumb-item a{
    font-size: 12px;
}
.banner-right-side li.breadcrumb-item.active{
    font-size: 12px;
}
.breadcrumb-item + .breadcrumb-item::before{
    padding: 0px 5px;
}
}

 @media screen and (min-width: 574px) and (max-width: 767px) {

}
 @media screen and (max-width: 700px) {
}
@media screen and (max-width: 574px) {
    .heading-pnel.mb-5 {
    margin-bottom: 21px !important;
}
.owl-item .item {
    padding: 0px 5px;
}
.FooterTop{
padding-bottom: 43px;
}
.FooterInfo {
    margin-top: 40px;
}
    .choose_top_text {
    position: absolute;
    right: 6px;
    top: -43px;
    position: absolute;
    max-width: 70%;
        gap: 10px;
}
.choose_top_text p {
    font-size: 12px; 
}
.choose_bottom_text {
    position: absolute;
    bottom: -19px;
    left: 120px !important;
    padding: 20px 20px;
}.choose_detail {
    border-top-right-radius: 20px;
    padding: 15px 15px;
    background: #000;
    border-top-left-radius: 20px;
}

.choose_bottom_text p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 15px;
    color: #F5F7FA;
}
li.choose_bg {
    list-style: none !important;
    margin-right: 5px;
    border-top-left-radius: 20px;
}
.row.real-bg{
    margin: 0;
}
.FooterBottom {
    padding: 20px 0px;
    text-align: center;
}
}


 @media screen and (max-width: 460px) {
    
}
 @media screen and (max-width: 420px) {
  
}
 @media screen and (max-width: 375px) {
}
 
 @media screen and (max-width: 767px) {
    .ser-tab {
    flex-wrap: wrap;
    justify-content: center;
}
    .tab-links {
    padding: 8px 18px;
    margin-bottom: 12px;
    margin-right: 12px;
}
.service-detial-img {
    height: 100%;
    width: 100%;
}
.service-detial-img img{
    height: 100%;
 }
 .service-detial-content {
    margin-top: 25px;
}
.service-detial-content h2 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px;
}
.service-detial-content ul li{
    font-size: 15px;
}
#choose-telesto {
    padding: 45px 0px 0px;
}
.choose-telesto-process {
    width: 100%;
    max-width: 100%;
    padding-top: 20px;
}
.robot-hand {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0px;
}
#faq button.btn.btn-link {
    font-size: 16px;
    white-space: initial;
}
.choose-telesto-process h2 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px;
}
.choose-telesto-process{
    margin-bottom: 30px;
}
.choose-telesto-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}
.choose-telesto-list-icon{
    width: 100%;
}
.choose-telesto-list-inner{
    width: 100%;
    margin-top: 20px;
}
.choose-telesto-list-inner h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.human-hand {
    position: relative;
    right: 0px;
    top: 0px;
    width: 100% !important;
    height: 100%;
}
.our-process {
    padding: 45px 0px;
}
.our-process-heading h2 {
    font-size: 24px;
    line-height: 34px;
}
.our-process-heading {
    margin-bottom: 35px;
}
.process-number.side-line1:after{
    display: none;
}
.process-number.side-line2:before{
    display: none;
}
#service-tab{
    position: relative;
    top: 0px;
}
#ecosystem {
    padding: 45px 0px;
}
.ecosystem-heading {
    margin-bottom: 35px;
}
.ecosystem-heading h2 {
    font-size: 24px;
    line-height: 36px;
}
.process-card h3 {
    font-size: 18px;
    line-height: 26px;
}
.mt-60 {
    margin-top: 35px;
}
.mt-120 {
    margin-top: 35px;
}
#faq h2 {
    font-size: 24px;
    margin-bottom: 35px;
}
#service-slider .owl-nav{
    display: none;
}
.offer_card_gredient.wow.fadeInUp {
    margin-bottom: 30px;
}
.industry-applications-section {
    margin-bottom: 45px;
}
.industry-applications-heading {
    margin-bottom: 35px;
}
.industry-applications-heading h2 {
    font-size: 24px;
}
#industry-silder .owl-nav{
    display: none;
}
#faq .card-header{
        padding: 25px 15px;
    }
#faq .card-body {
    padding: 0px 15px;
}
#faq button.btn:after {
    width: 16px;
    height: 100%;
    right: 0px;
}
#faq button.btn.collapsed:after {
    width: 16px;
    height: 16px;
    right: 0px;
}
.process-number {
    width: 50px;
    height: 50px;
}
.process-number span {
    font-size: 20px;
}
}
@media screen and (max-width: 991px) {
    .service-detial-img img{
        max-width: 100%;
        height: 100%;
    }
    .service-detial-img {
    height: 100%;
    width: 100%;
}
.ser-tab {
       flex-wrap: nowrap;
    justify-content: start;
    max-width: 100%;
    overflow-y: auto;
}
.tab-links{
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 10px 20px;
    white-space: pre;
}
.service-detial-content h2 {
    font-size: 28px;
    line-height: 36px;
}
.industry-applications-heading h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    color: #F5F7FA;
}
.industry-applications-section {
    margin-bottom: 50px;
}
.ecosystem-heading {
    margin-bottom: 40px;
}
.ecosystem-heading h2 {
    font-size: 26px;
    line-height: 36px;
}
.ecosystem-card {
    padding: 30px 20px;
}
.choose-telesto-process h2 {
    font-size: 26px;
}
.choose-telesto-list {
    padding: 25px 25px;
}
.choose-telesto-list-icon {
    width: 18%;
}
.choose-telesto-list-inner {
    width: 100%;
}
.choose-telesto-list-inner h3 {
    font-size: 20px;
}
.choose-telesto-process {
    width: 100%;
    max-width: 100%;
    padding-top: 115px;
}
.robot-hand {
    position: absolute;
    width: 320px;
    height: 218px;
    top: 55px;
}
.our-process {
    padding: 70px 0px 80px;
    margin-top: 30px;
}
.our-process-heading {
    margin-bottom: 35px;
}
.our-process-heading h2 {
    font-size: 28px;
    line-height: 38px;
}
.process-card h3 {
    font-size: 20px;
}
.process-card p {
    max-width: 100%;
}
.process-number{
    width: 55px;
    height: 55px;
}
.process-number span {
    font-size: 22px;
}
.process-number.side-line1:after{
    display: none;
}
.process-number.side-line2:before{
    display: none;
}
.process-number.top-line1:after{
    display: none;
}
.human-hand {
    width: 310px;
}
#faq h2 {
    font-size: 28px;
    margin-bottom: 35px;
}
#faq .card-header{
    padding: 20px;
}
#faq .card-body{
    padding: 0px 20px;
}
#faq button.btn.btn-link {
    font-size: 18px;
    white-space: initial;
}
#faq button.btn:after {
    width: 20px;
    right: 0px;
}
#faq button.btn.collapsed:after{
    width: 20px;
    height: 20px;
    right: 0px;
}
#service-slider .owl-nav.disabled {
    top: -17% !important;
}
#industry-silder .owl-nav.disabled {
    top: -20% !important;
    transform: translateX(45%);
}
}